Stephen Kay <br>
CSCI-3287 Course Project <br>
Gaming the System <br>

In [1]:
%load_ext sql
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import zipfile
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy.sql

In [3]:
import getpass
# passwd = getpass.getpass()
passwd = 'M6f9NYDl6FgaBMd1jyLBxpAYVXHcBXl3'
dbuser='qktewplm'
eng = create_engine('postgresql://{0}:{1}@otto.db.elephantsql.com:5432/qktewplm'.format(dbuser, passwd))
con = eng.connect()

In [4]:
con.execute("SELECT postgis_full_version()").fetchall()

[('POSTGIS="2.5.1 r17027" [EXTENSION] PGSQL="110" GEOS="3.6.2-CAPI-1.10.2 4d2925d6" PROJ="Rel. 4.9.3, 15 August 2016" GDAL="GDAL 2.2.3, released 2017/11/20" LIBXML="2.9.4" LIBJSON="0.12.1" LIBPROTOBUF="1.2.1" RASTER',)]

In [33]:
rs = con.execute('''
DROP TABLE IF EXISTS nba_schedule;
CREATE TABLE nba_schedule
	(
	  id numeric,
	  road_team character varying(50),
	  home_team character varying(50),
	  total_game_minutes numeric,
	  road_team_final_score numeric,
	  home_team_final_score numeric,
      road_team_rest character varying(50),
      home_team_rest character varying(50)
	);
''')

In [57]:
con.execute("SELECT * from nba_schedule LIMIT 1").fetchall()

[(Decimal('21700001'), 'Boston', 'Cleveland', Decimal('240.0'), Decimal('99'), Decimal('102'), '3+', '3+')]

## Ok now let's use the wonderful Pandas to read in our CSV and convert it into a dictionary! ##

In [35]:
nba_data = pd.read_csv("2017-2018_NBA_Historical_Schedule.csv")

In [36]:
nba_data.head()

,id,road_team,home_team,total_game_minutes,road_team_final_score,home_team_final_score,road_team_rest,home_team_rest
0,21700001,Boston,Cleveland,240.0,99,102,3+,3+
1,21700002,Houston,Golden State,240.0,122,121,3+,3+
2,21700003,Charlotte,Detroit,240.0,90,102,3+,3+
3,21700004,Brooklyn,Indiana,240.0,131,140,3+,3+
4,21700005,Miami,Orlando,240.0,109,116,3+,3+

In [37]:
nba_dict = nba_data.to_dict('records')

In [38]:
nba_dict[0]

{'id': 21700001,
 'road_team': 'Boston',
 'home_team': 'Cleveland',
 'total_game_minutes': 240.0,
 'road_team_final_score': 99,
 'home_team_final_score': 102,
 'road_team_rest': '3+',
 'home_team_rest': '3+'}

In [39]:
for row in nba_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO nba_schedule(id, road_team, home_team, total_game_minutes,
    road_team_final_score, home_team_final_score, road_team_rest, home_team_rest)\
    VALUES ( :id, :road_team, :home_team, :total_game_minutes, :road_team_final_score,
    :home_team_final_score, :road_team_rest, :home_team_rest) ''' )
    con.execute(cmd, row)

In [41]:
con.execute("SELECT * from nba_schedule order by id asc LIMIT 1").fetchall()

[(Decimal('21700001'), 'Boston', 'Cleveland', Decimal('240.0'), Decimal('99'), Decimal('102'), '3+', '3+')]

In [55]:
nba_dict[0]

{'id': 21700001,
 'road_team': 'Boston',
 'home_team': 'Cleveland',
 'total_game_minutes': 240.0,
 'road_team_final_score': 99,
 'home_team_final_score': 102,
 'road_team_rest': '3+',
 'home_team_rest': '3+'}

In [42]:
con.execute("SELECT * from nba_schedule order by id desc LIMIT 1").fetchall()

[(Decimal('41700404'), 'Golden State', 'Cleveland', Decimal('240.0'), Decimal('108'), Decimal('85'), '1', '1')]

In [54]:
data_list_len = len(nba_data)
nba_dict[data_list_len-1]

{'id': 41700404,
 'road_team': 'Golden State',
 'home_team': 'Cleveland',
 'total_game_minutes': 240.0,
 'road_team_final_score': 108,
 'home_team_final_score': 85,
 'road_team_rest': '1',
 'home_team_rest': '1'}

The above SQL and dictionary statements ensure that my database has all of the rows by checking the database first and last entries against the dictionaries' view of the first and last entries.

In [76]:
rs = con.execute('''
DROP TABLE IF EXISTS nba_cities;
CREATE TABLE nba_cities
	(
	  city character varying(50),
      lat numeric,
      lon numeric
	);
''')

In [77]:
nba_cities_data = pd.read_csv("NBA-Cities-Lat-Long.csv")

In [78]:
nba_cities_dict = nba_cities_data.to_dict('records')

In [79]:
for row in nba_cities_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO nba_cities(city, lat, lon)\
    VALUES ( :city, :lat, :lon) ''' )
    con.execute(cmd, row)

In [82]:
con.execute("SELECT * from nba_cities").fetchall()

[('Atlanta', Decimal('33.749'), Decimal('94.38799999999999')),
 ('Boston', Decimal('42.3601'), Decimal('71.0589')),
 ('Brooklyn', Decimal('40.6782'), Decimal('73.9442')),
 ('Charlotte', Decimal('35.2271'), Decimal('80.8431')),
 ('Chicago', Decimal('41.8781'), Decimal('87.6298')),
 ('Cleveland', Decimal('41.4993'), Decimal('81.6944')),
 ('Dallas', Decimal('32.7767'), Decimal('96.79700000000001')),
 ('Denver', Decimal('39.7392'), Decimal('104.9903')),
 ('Detroit', Decimal('42.3314'), Decimal('83.0458')),
 ('Golden State', Decimal('37.8044'), Decimal('122.2711')),
 ('Houston', Decimal('29.7604'), Decimal('95.3698')),
 ('Indiana', Decimal('39.7684'), Decimal('86.1581')),
 ('LA Clippers', Decimal('34.0522'), Decimal('118.2437')),
 ('La Angeles Lakers', Decimal('34.0522'), Decimal('118.2437')),
 ('Memphis', Decimal('35.1495'), Decimal('90.04899999999999')),
 ('Miami', Decimal('25.7617'), Decimal('80.1918')),
 ('Milwaukee', Decimal('43.0389'), Decimal('87.9065')),
 ('Innesota', Decimal('44.9778'), Decimal('93.265')),
 ('New Orleans', Decimal('29.9511'), Decimal('90.0715')),
 ('New York', Decimal('40.7218'), Decimal('74.006')),
 ('Oklahoma City', Decimal('35.4676'), Decimal('97.5164')),
 ('Orlando', Decimal('28.5383'), Decimal('81.3792')),
 ('Philadelphia', Decimal('39.9526'), Decimal('75.1652')),
 ('Phoenix', Decimal('33.4484'), Decimal('112.074')),
 ('Portland', Decimal('45.5155'), Decimal('122.6793')),
 ('Sacremento', Decimal('38.5816'), Decimal('121.4944')),
 ('San Antonio', Decimal('29.4241'), Decimal('98.4936')),
 ('Toronto', Decimal('43.6532'), Decimal('79.3832')),
 ('Utah', Decimal('39.321'), Decimal('111.0937')),
 ('Washington', Decimal('38.9072'), Decimal('77.0369'))]

Ok this looks good! Now let's try and do some joins on our tables!